body, html { 
    background-color: #C6D7B1;
    font-family: Arial, Helvetica, sans-serif;
    width:50%;
    margin:0 auto;
}


#add-task {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#additem ,#clear{
    height: 25px;
    width: 80px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 15px;
}
.itemStyling{
    font-size: 20px;
    list-style: disc; 
    align-items: center;
}
#incomplete{
    color:red
}
#completed{
    text-decoration: line-through;
    color: green;
}

.done{
    height: 25px;
    width: 70px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 15px;
    color: grey;
}

